.event-item {
  width: 80%;
  background-color: white;
  margin: 5px auto;
  padding: 20px;
  border: 10px solid #eaeaea;
  border-radius: 15px;
  word-wrap: break-word;
}

.event-item h3 {
  margin-top: 5px;
  margin-bottom: 0;
}

.description-full {
  height: auto;
}

.description-collapsed {
  max-height: 100px;
  overflow: hidden;
}

.event-item img{
  max-width: 100%;
}

.event-link {
  color: #4CAF50;
  font-weight: bold;
}

h1.event-name {
  font-size: 20px;
  margin-top: 0px;
}

h3.time {
  font-size: 14px;
  text-align: right;
}

h2.group-name {
  font-size: 14px;
  font-weight: normal;
}

h3.rsvps {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
}

h3.event-link a{
  font-weight: normal;
  text-align: center;
  font-size: 14px;
  color: #4CAF50;
}

.resize-description {
  background-color: white;
  padding: 10px;
  color: #4CAF50;
  font-size: 14px;
  text-align: center;
  border-top: 5px solid white;
}

.resize-description:hover {
  background-color: #eaeaea;
}
