.event-list-container {
  height: 90vh;
  overflow: scroll;
  background-color: #eaeaea;
}

.event-list-container ul {
  margin: 0;
  padding: 0;
  border: none;
}

.active-event .event-item{
  /*border: 5px solid #4CAF50;*/
}
