.event-item {
  width: 80%;
  background-color: white;
  margin: 5px auto;
  padding: 20px;
  border: 10px solid #eaeaea;
  border-radius: 15px;
  word-wrap: break-word;
}

.description-full {
  font-size: 12px;
  height: auto;
  /*transition: 2s linear all;*/
}

.description-collapsed {
  font-size: 12px;
  height: 100px;
  overflow: hidden;
  /*transition: 2s linear all;*/
}

.event-item img{
  max-width: 100%;
}

h1.event-name {
  font-size: 20px;
  margin-top: 0px;
}

h3.time {
  font-size: 14px;
  font-weight: bold;
}

h2.group-name {
  font-size: 14px;
}

h3.rsvps {
  font-size: 14px;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
  margin-bottom: 0;
}

a.event-link {
  font-size: 12px;
}

.resize-description {
  background-color: white;
  padding: 10px;
  color: green;
  text-align: center;
}

.resize-description:hover {
  background-color: #eaeaea;
}
