.search-form {
  height: 70px;
  width: 100%;
  background-color: #4CAF50;
  text-align: center;
}

.search-form form {
  padding: 20px;
  color: white;
  font-size: 14px;
  height: 30px;
}

.search-form input[type="text"] {
  box-sizing: border-box;
  margin: 0;
  margin-left: 10px;
  padding: 6px;
  border: none;
  height: 100%;
  width: 60%;
  background-color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  font-family: Arimo, sans-serif;
  font-size: 14px;
}

.search-form input:focus {
  outline: none;
}

.search-form input[type="submit"] {
  box-sizing: border-box;
  height: 100%;
  position: relative;
  top: -1px;
  border: none;
  background-color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 2px solid #eaeaea;
}

.search-form input[type="submit"]:hover {
  background-color: #eaeaea;
}

.github {
  position: absolute;
  top: 15px;
  right: 20px;
}

.github img {
  height: 40px;
  width: 40px;
}
