.search-form {
  height: 70px;
  width: 100%;
  background-color: #388E3C;
  text-align: center;
}

.search-form form {
  padding: 20px;
  color: white;
  font-size: 14px;
}

.search-form input[type="text"] {
  box-sizing: border-box;
  margin: 0;
  margin-left: 10px;
  padding: 6px;
  border: none;
  height: 30px;
  width: 60%;
  background-color: white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-form input:focus {
  outline: none;
}

.search-form input[type="submit"] {
  box-sizing: border-box;
  height: 30px;
  border: none;
  background-color: white;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-left: 2px solid whitesmoke;
}

.search-form input[type="submit"]:hover {
  background-color: whitesmoke;
}
